
html {
    background-color: #999966;
    
    

#about {
  columns: 700px 1; text-align: right;
}
    #music {font-size: 40px;
    }
    #writings {font-size: 40px;
    }
    #contact {font-size: 40px;
    }
