
html {
    background-color: #999966;
}
html {
  text-align: center;
}

#music {font-size: 32px;
}

#writings {font-size: 32px;
}

#contact {font-size: 32px;
}

#2020 {font-size: 26px;
}

#2019 {font-size: 26px;
}

div {
  text-align: justify;
}
